.container {
  max-width: 85%;
  margin: 0 auto;

  @media (min-width: $phoneWidth) {
    max-width: 85%;
  }

  @media (min-width: $smTabletWidth) {
    max-width: 90%;
  }

  @media (min-width: $tabletWidth) {
    max-width: 90%;
  }

  @media (min-width: $desktopWidth) {
    max-width: 1140px;
  }
}