
.input-wrapper {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -26px;
    transform: translateX(-50%);
    width: 80%;
    height: 5px;
    background-color: #f0f0f0;
    border-radius: 50%;
  }

  .input {
    width: 454px;
    font-size: 2.1rem;
    color: $inputColor;
    border: 2px solid $inputColor;
    border-radius: 30px;
    padding: 18px;
    @include phone {
      width: 400px;
    }
    @include sm-phone {
      width: 300px;
    }

    &::placeholder {
      color: $inputColor;
    }
  }
}