.first-section-swiper {
  height: 540px;
  margin-top: 36px;
  @include all-mobile {
    height: 650px;
  }
  @include sm-tablet {
    height: 550px;
  }
  @include sm-phone {
    height: 700px!important;
  }

  &-button-next {
    right: 0;
    border: 2px solid $arrowColor;
    padding: 30px 26px 30px 34px;
    border-radius: 50%;

    &::after {
      font-size: 2.6rem;
      color: $arrowColor;
    }

    @include all-mobile {
      padding: 20px 16px 20px 24px;

      &::after {
        font-size: 1.8rem;
      }
    }

    @include sm-phone {
      display: none;
    }
  }

  &-button-prev {
    left: 0;
    border: 2px solid $arrowColor;
    padding: 30px;
    border-radius: 50%;

    &::after {
      font-size: 2.6rem;
      color: $arrowColor;
    }

    @include all-mobile {
      padding: 20px;

      &::after {
        font-size: 1.8rem;
      }
    }
    @include sm-phone {
      display: none;
    }
  }
}

.first-section-swiper-slide {
  padding-left: 128px;
  padding-right: 128px;
  display: flex;
  @include tablet {
    padding-left: 80px;
    padding-right: 80px;
  }
  @include sm-tablet {
    padding-left: 32px;
    padding-right: 64px;
  }
  @include phone {
    padding-left: 16px;
    padding-right: 32px;
  }
  @include sm-phone {
    padding: 0;
  }

  &__image {
    @include all-mobile {
      display: none;
    }
  }
}

.content {
  margin-left: 172px;
  @include all-mobile {
    margin-left: 120px;
  }
  @include sm-phone {
    margin-left: 90px;
  }

  &-item {
    margin-top: 42px;
    position: relative;
    opacity: .4;
    transition: opacity .3s ease;
    &:hover {
      opacity: 1;
    }
    @include all-mobile {
      opacity: 1;
    }

    &__icon {
      position: absolute;
      top: 20px;
      left: -80px;
    }

    &__title {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 12px;
    }

    &__text {
      margin-bottom: 12px;
    }

    &__link {
      font-size: 1.5rem;
      font-weight: 700;
      color: $linkColor;
      margin-left: 23px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: -15px;
        top: 50%;
        width: 18px;
        height: 18px;
        background-color: $linkColor;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }

      &::after {
        content: '';
        position: absolute;
        left: -16px;
        top: 50%;
        width: 6px;
        height: 6px;
        border-right: 1px solid $lightFontColor;
        border-bottom: 1px solid $lightFontColor;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}