.what-we-do-swiper {
  height: 675px;
  @include all-mobile {
    height: 275px;
  }
  @include sm-tablet {
    height: 230px!important;
  }
  @include sm-phone {
    height: 315px!important;
  }
}

.what-we-do-swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 83px;

  .what-we-do-image {
    @include all-mobile {
      display: none;
    }
  }
}

.what-we-do-content {
  color: $lightFontColor;
  width: 45%;
  text-align: center;
  margin-top: 85px;
  @include all-mobile {
    margin-top: 0px;
    width: 70%;
  }

  &__title {
    margin-bottom: 12px;

  }

  &__text {
    font-size: 1.8rem;
    font-weight: 300;
  }
}

.what-we-do-swiper-pagination {
  bottom: 32px!important;

  .swiper-pagination-bullet {
    background: #a7ddf3;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: $bgColor;
  }
}

.illustration-circles {
  position: absolute;
  left: 50%;
  z-index: -1;

  &__circle {
    position: absolute;
    transform: translateX(-50%);
    border-radius: 50%;


    &:nth-child(1) {
      width: 373px;
      height: 373px;
      z-index: 3;
      top: 40px;
      background-color: #5fbfe7;
      @include all-mobile {
        top: -100px;
      }
    }

    &:nth-child(2) {
      width: 677px;
      height: 677px;
      z-index: 2;
      top: -150px;
      background-color: #66c3e9;
      @include all-mobile {
        display: none;
      }
    }

    &:nth-child(3) {
      width: 1033px;
      height: 1033px;
      z-index: 1;
      top: -300px;
      background-color: #6cc6eb;
      @include all-mobile {
        display: none;
      }
    }
  }
}