@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

body, html {
  height: 100%;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: $bgColor;
  color: $mainFontColor;
  font-family: $mainFont;
  font-weight: 400;
  font-size: 1.7rem;
}

h1 {
  font-size: 2.6rem;
  font-weight: 400;
  text-align: center;
}

// Components
@import "components/container";
@import "components/input";
@import "components/sections/header";
@import "components/sections/first-section";
@import "components/sections/what-we-do-section";
@import "components/sections/customers-section";
@import "components/sections/subscribe-section";
@import "components/sections/footer";
@import "components/swipers/first-section-swiper";
@import "components/swipers/what-we-do-swiper";
