// Fonts here

@font-face {
  font-family: 'Lato';
  src: url('../../fonts/LatoLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../../fonts/LatoRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../../fonts/LatoBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/GothamMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}