// Font
$mainFont                : "Lato";
$headerFont              : "Gotham";
$mainFontColor           : #474e5d;
$lightFontColor          : #ffffff;

// Sizes
$lgDesktopWidth          : 1440px;
$desktopWidth            : 1200px;
$tabletWidth             : 960px;
$smTabletWidth           : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Colors
$bgColor                 : #ffffff;
$accentColor             : #71c8ec;
$linkColor               : #55bfea;
$arrowColor              : #c0c0c0;
$inputColor              : #bfbfbf;
$customersBgColor        : #f4f4f4;
$footerBgColor           : #575859;
$footerTextColor         : #6f6f6f;


