.customers-section {
  background-color: $customersBgColor;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  @include all-mobile {
    padding-top: 8px;
  }
}