.footer {
  height: 218px;
  background: $footerBgColor;
  @include all-mobile {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include all-mobile {
      flex-direction: column;
    }

    &__copyright {
      font-size: 1.6rem;
      color: $footerTextColor;
    }

    &__logo {

    }

    &__social {
      img {
        margin-left: 21px;
        cursor: pointer;
      }
    }
  }

}