.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 23px;

  &__logo {
    width: 163px;
    height: 37px;
  }

  .open-mobile-menu-toggler {
    display: none;
    @include all-mobile {
      display: inline-block;
    }
  }
}

.header-navigation {
  display: flex;
  align-items: center;

  @include all-mobile {
    display: none;
  }

  &__item {
    margin-left: 28px;
  }

  &__link {
    color: $mainFontColor;
    font-family: $headerFont;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: color .3s ease;
    &:hover {
      color: $accentColor;
    }

    &--button {
      color: $lightFontColor;
      background-color: $accentColor;
      padding: 14px 42px;
      border-radius: 20px;
      transition: all .3s ease;
      &:hover {
        color: $lightFontColor;
        background-color: #7bbde1;
      }
    }
  }
}

.header-navigation-mobile {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 30vh;
  padding-bottom: 30vh;
  z-index: 999;
  background-color: $bgColor;
  transform: translateX(-1000px);
  transition: transform 1s ease;
  @include all-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &.active {
    transform: translateX(0);
    transition: transform 1s ease;
  }

  &__link {
    color: $mainFontColor;
    font-family: $headerFont;
    font-size: 1.8rem;
    text-transform: uppercase;
    transition: color .3s ease;
    &:hover {
      color: $accentColor;
    }

    &--button {
      color: $lightFontColor;
      background-color: $accentColor;
      padding: 14px 42px;
      border-radius: 28px;
      transition: all .3s ease;
      &:hover {
        color: $lightFontColor;
        background-color: #7bbde1;
      }
    }
  }

  &__close-toggler {
    position: absolute;
    top: 27px;
    right: 20px;
  }
}