.subscribe-section {
  padding-bottom: 100px;
  padding-top: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    &:nth-child(1) {
      margin-bottom: 12px;
    }

    &:nth-child(2) {
      margin-bottom: 53px;
    }
  }
}